* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/*SIDEBAR*/

.sidebar{
    width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-logo{
    width: 28px;
    height:28px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-grow: 1;
}

.nav-links img{
    width: 28px;
    height: 28px;
}

.profile-icon{
    width: 28px;
    height: 28px;
}

/*MAIN CONTENT*/
.main-content{
    width: 100%;
    max-width: 935px;
}

/*PROFILE HEADER*/

.profile-header{
    display: flex;
    gap: 60px;
}

.avatar{
    width: 150px;
    height: 150px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.username-row{
    display: flex;
    gap: 18px;
    align-items: center;
}

.profile-stats{
    display: flex;
    gap: 18px;
}

.action-buttons{
    display: flex;
    gap: 18px;
}

/*HIGHLIGHTS*/

.highlights{
    display: flex;
    gap: 30px;
}

.highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.highlight-circle{
    width: 77px;
    height: 77px;
}

/*PROFILE TABS*/
.profile-tabs{
    display:flex;
    justify-content: center;
    gap:60px;
}

.tab img{
    width: 18px;
    height: 18px;
}

/*EMPTY STATE*/

.empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 100px 0px;
}

.camera-icon{
    width: 60px;
    height: 60px;
}