* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

/*SIDEBAR*/

.sidebar{
    width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-logo{
    width: 28px;
    height:28px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-grow: 1;
}

.nav-links img{
    width: 28px;
    height: 28px;
}

.profile-icon{
    width: 28px;
    height: 28px;
}

/*MAIN CONTENT*/
.main-content{
    width: 100%;
    max-width: 935px;
}
